/* Styles for Admin pages */
.fixed-column {
  position: sticky;
  left: 0;
  z-index: 1;
  padding-right: 15px; /* Add padding to create space for the shadow */
  overflow: visible; /* Allow overflow to display the shadow */
}

.additional-row {
  display: none;
  transition: all 0.3s ease; /* CSS transition for smooth animation */
}

.additional-row.expanded {
  display: table-row;
}

.main-row:hover {
  cursor: pointer;
}

/* Set link style in table header */
.table-dark a {
  color: #fff; /* Set default color for links */
  text-decoration: none; /* Remove underline from links */
}

.table-dark a:hover {
  color: #f1e840; /* Change color on hover */
  cursor: pointer; /* Change cursor on hover */
}

/* Overwrite pagination color */
.pagination .page-link {
    color: #000; /* Black text color */
}

.pagination .page-item.active .page-link {
    background-color: #ffc107; /* Warning color */
    border-color: #ffc107; /* Warning color */
    color: #000; /* Black text color */
}

.pagination .page-item.active .page-link:hover {
    background-color: #e0a800; /* Darker warning color for hover */
    border-color: #d39e00; /* Darker border color for hover */
    color: #000; /* Black text color */
}

/* display error message */
.error {
  color: red;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
  .fixed-column::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px; /* Adjust this value to control the width of the shadow */
    width: 10px; /* Adjust this value to control the width of the shadow */
    background: linear-gradient(
      to left,
      transparent,
      #2929291a
    ); /* Gradient shadow */
    z-index: -1; /* Ensure the shadow is behind the content */
  }
}
