/* Email style */
.container_email {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  padding: 20px;
  background-color: #f9f9f9;
}

.container_email h1 {
  color: #333333;
  text-align: center;
}

.email_header {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background-color: #000000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email_header img {
  max-width: 100%;
  height: auto;
}

.email_footer {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.email_footer span {
  color: #f1e840;
}

.email_footer a {
  color: #fff; /* Set default color for links */
  text-decoration: none; /* Remove underline from links */
}

.email_footer a:hover {
  color: #f1e840; /* Change color on hover */
  cursor: pointer; /* Change cursor on hover */
}
