/* Email style */
.container_email {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  padding: 20px;
  background-color: #f9f9f9;
}

.container_email h1 {
  color: #333333;
  text-align: center;
}

.email_header {
  background-color: #23a455;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.email_footer {
  background-color: #23a455;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.link_facebook,
.link_instagram {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
