/* Styling for fading animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#formQuestion,
#formQuotation,
#info-visiteType,
#info-persons,
#info-persons-discount {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Override Bootstrap button styles */
.btn.btn-success {
  background-color: #28a745; /* Change background color */
  border-color: #28a745; /* Change border color */
  color: #fff; /* Change text color */
  font-size: 16px; /* Change font size */
  border-radius: 5px; /* Add rounded corners */
  padding: 6px 14px; /* Reduce padding */
}

.btn.btn-warning {
  background-color: #ffc107; /* Change background color */
  border-color: #ffc107; /* Change border color */
  color: #212529; /* Change text color */
  font-size: 16px; /* Change font size */
  border-radius: 5px; /* Add rounded corners */
  padding: 6px 14px; /* Reduce padding */
}

.btn.btn-outline-light {
  /* Your custom styles here */
  color: #f8f9fa; /* Change text color */
  border-color: #f8f9fa; /* Change border color */
  font-size: 16px; /* Change font size */
  border-radius: 5px; /* Add rounded corners */
  padding: 6px 14px; /* Reduce padding */
}

/* Hover styles */
.btn.btn-success:hover {
  background-color: #218838; /* Change background color on hover */
  border-color: #1e7e34; /* Change border color on hover */
  /* Add any other hover styles */
}

.btn.btn-warning:hover {
  background-color: #e0a800; /* Change background color on hover */
  border-color: #d39e00; /* Change border color on hover */
  /* Add any other hover styles */
}

.btn.btn-outline-light:hover {
  background-color: rgba(
    248,
    249,
    250,
    0.15
  ); /* Change background color on hover */
}

/* Active state styles */
.btn.btn-success:active {
  background-color: #1e7e34; /* Change background color on active state */
  border-color: #1c7430; /* Change border color on active state */
}

.btn.btn-warning:active {
  background-color: #c79100; /* Change background color on active state */
  border-color: #b98400; /* Change border color on active state */
}

.btn.btn-outline-light:active {
  background-color: rgba(
    248,
    249,
    250,
    0.3
  ); /* Change background color on active state */
}

/* Focus state styles */
.btn.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); /* Add box shadow on focus */
  background-color: #1e7e34;
}

.btn.btn-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); /* Add box shadow on focus */
  background-color: #c79100;
}

.btn.btn-outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); /* Add box shadow on focus */
  background-color: rgba(
    248,
    249,
    250,
    0.3
  ); /* Change background color on active state */
}

/* To hide a field */
.hidden {
  display: none;
}

/* display error message */
.error {
  color: red;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
}

/* Styles for Question form */
/* #formQuestion {
  background-color: #ffdddd;
  padding: 20px;
  border-radius: 5px;
} */

/* #formQuestion h2 {
  margin-bottom: 20px;
  color: #333;
} */

/* Styles for Quotation form */
/* #formQuotation {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

#formQuotation h2 {
  margin-bottom: 20px;
  color: #007bff;
} */

.container,
.containerClone {
  display: flex;
  flex-wrap: wrap;
}

.input-group {
  flex: 1;
  margin-right: 10px;
}

.button-group {
  flex-basis: 100%;
  margin-top: 10px;
}

/* Styles for dynamically created display elements */
#display {
  margin-top: 20px;
}

/* Styles for delete button */
.btn-delete {
  background-color: #ff6961;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-delete:hover {
  background-color: #ff5750;
}

/* Styles for trash icon */
.delete-icon {
  color: #f52d22;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for add button */
.btn-add {
  background-color: #4c63af;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-add:hover {
  background-color: #5645a0;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 500px) {
  .container,
  .containerClone {
    flex-direction: column;
  }

  .input-group {
    margin-right: 0;
  }

  /* Adjust padding for forms */
  /* #formQuestion,
  #formQuotation {
    padding: 10px;
  } */

  /* Adjust padding for buttons */
  .button-group button {
    padding: 6px 14px;
  }
}
